body {
  background-color: white;

  background-image: linear-gradient(to bottom, rgba(150, 150 ,0,0.5), rgba(0,0,255,0.5)),
  url("./assets/img/9010_121.jpg");
  /* position the image */
  background-position: top;
  /* Do repeat the image */
  background-repeat: repeat-y;
  /* Resize the background image to cover the entire container */
  background-size: contain;
  opacity: 0.95;

  color: mistyrose;

  /* pink? */
}

.display-7{
  font-size: 2rem;
}
.display-8{
  font-size: 1.5rem;
}
.display-9{
  font-size: 1rem;
}

.px-6 {
  padding-left:4.5rem!important;
  padding-right:4.5rem!important
 }

 .px-7 {
  padding-left:6rem!important;
  padding-right:6rem!important
 }


.font-size-130{
  font-size: 130%;
}

.about-host, .bg-color, .carousel{
  background-color: lightpink;
  color: black;
}

/* .carousel-height, .carousel-height > .carousel-item {
  height: 300px;
}
 */
.carousel {
  max-height: 700px;
}

.carousel .carousel-item .container {
  width: 100%;
  height: auto;
  margin-bottom: 45px;
  margin-top: 27px;
  text-align: center;
  vertical-align: middle;
}


.previous-events > div {
  flex-direction: column;
}

.previous-events > div > span {
  margin-left: auto;
  margin-right: auto;
}

/* feature */
.b-example-divider {
  height: 0.4rem;
  background-color: rgba(0, 0, 0, .001);
  border: solid rgba(0, 0, 0, .015);
  border-width: 0.1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.feature-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 4rem;
  margin-bottom: 1rem;
  font-size: 2rem;
  color: #fff;
  border-radius: .75rem;
}

.icon-link {
  display: inline-flex;
  align-items: center;
}
.icon-link > .bi {
  margin-top: .125rem;
  margin-left: .125rem;
  transition: transform .25s ease-in-out;
  fill: currentColor;
}
.icon-link:hover > .bi {
  transform: translate(.25rem);
}

.icon-square {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  font-size: 1.5rem;
  border-radius: .75rem;
}

.rounded-4 { border-radius: .5rem; }
.rounded-5 { border-radius: 1rem; }
.rounded-main { border-radius: 7rem; }


.text-shadow-1 { text-shadow: 0 .125rem .25rem rgba(0, 0, 0, .25); }
.text-shadow-2 { text-shadow: 0 .25rem .5rem rgba(0, 0, 0, .25); }
.text-shadow-3 { text-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .25); }

.card-cover {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

/* carousel */
.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

